@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import 'src/styles/helpers';

.dropdown {
  &-content {
    position: relative;
    &.active {
      .dropdown-content {
        &-head {
          &-arrow {
            svg {
              transform: rotate(180deg);
            }
          }
        }
        &-body {
          &.transparent {
            padding: space(16, 0);
          }
          &.absolute {
            transform: translateY(0);
            opacity: 1;
            z-index: 1;
            pointer-events: all;
          }
          &.relative {
            max-height: 300px;
            overflow-y: auto;
            padding: space(16, 30, 16, 20);
          }
        }
      }
    }
    &-head {
      cursor: pointer;
      @include flex(row, center, space-between);

      .dropdown-head {
        &-icon {
          transform-origin: center;
          @include transition;
          @include flex(row, center, center);
          &.dropdown-head-icon-active {
            transform: rotate(180deg);
          }
        }
      }
      &.transparent {
        background: var(--dropdown-transparent-default-head-background);
        @include border-like-shadow(
          var(--dropdown-transparent-default-head-border-width),
          var(--dropdown-transparent-default-head-border)
        );
        .dropdown-head {
          &-selection {
            color: var(--dropdown-transparent-default-head-color);
            font-size: 16px;
            line-height: 24px;
          }
        }
        &:hover {
          background: var(--dropdown-transparent-hover-head-background);
          @include border-like-shadow(
            var(--dropdown-transparent-hover-head-border-width),
            var(--dropdown-transparent-hover-head-border)
          );
          .dropdown-head {
            &-selection {
              color: var(--dropdown-transparent-hover-head-color);
            }
          }
        }
        &:focus {
          background: var(--dropdown-transparent-focus-head-background);
          @include border-like-shadow(
            var(--dropdown-transparent-focus-head-border-width),
            var(--dropdown-transparent-focus-head-border)
          );
          .dropdown-head {
            &-selection {
              color: var(--dropdown-transparent-focus-head-color);
            }
          }
        }
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
          background: var(--dropdown-transparent-disabled-head-background);
          @include border-like-shadow(
            var(--dropdown-transparent-disabled-head-border-width),
            var(--dropdown-transparent-disabled-head-border)
          );
          .dropdown-head {
            &-selection {
              color: var(--dropdown-transparent-disabled-head-color);
            }
          }
        }
      }

      // theme dd
      &.outlined {
        background: var(--dropdown-outlined-default-head-background);
        padding: space(10, 16);
        @include border-radius('input');
        @include border-like-shadow(
          var(--dropdown-outlined-default-head-border-width),
          var(--dropdown-outlined-default-head-border)
        );
        .dropdown-head {
          &-selection {
            color: var(--dropdown-outlined-default-head-color);
            font-size: 16px;
            line-height: 24px;
          }
          &-icon {
            @include transition;
            &.dropdown-head-icon-active {
              transform-origin: center;
              transform: rotate(180deg);
            }
          }
        }
        &:hover {
          background: var(--dropdown-outlined-hover-head-background);
          @include border-like-shadow(
            var(--dropdown-outlined-hover-head-border-width),
            var(--dropdown-outlined-hover-head-border)
          );
          .dropdown-head {
            &-selection {
              color: var(--dropdown-outlined-hover-head-color);
            }
          }
        }
        &:focus {
          background: var(--dropdown-outlined-focus-head-background);
          @include border-like-shadow(
            var(--dropdown-outlined-focus-head-border-width),
            var(--dropdown-outlined-focus-head-border)
          );
          .dropdown-head {
            &-selection {
              color: var(--dropdown-outlined-focus-head-color);
            }
          }
        }
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
          background: var(--dropdown-outlined-disabled-head-background);
          @include border-like-shadow(
            var(--dropdown-outlined-disabled-head-border-width),
            var(--dropdown-outlined-disabled-head-border)
          );
          .dropdown-head {
            &-selection {
              color: var(--dropdown-outlined-disabled-head-color);
            }
          }
        }
      }
    }
    &-body {
      top: 100%;
      left: 0;
      width: 100%;
      @include transition;
      @include flex(column, center, flex-start);
      &.absolute {
        position: absolute;
        transform: translateY(-8px);
        opacity: 0;
        pointer-events: none;
        &.transparent {
          top: calc(100% + var(--dropdown-transparent-focus-head-border-width));
        }
        &.outlined {
          top: calc(100% + var(--dropdown-outlined-focus-head-border-width));
        }
      }
      .dropdown-content-body-option {
        width: 100%;
        cursor: pointer;
        @include transition;
      }
      &.transparent {
        background: var(--dropdown-transparent-default-body-main-background);
        .dropdown-search-input {
          padding: space(2);
          margin-bottom: space(10);
        }
        .dropdown-content-body-option {
          background: var(--dropdown-transparent-default-body-background);
          color: var(--dropdown-transparent-default-body-color);
          @include border-like-shadow(
            var(--dropdown-transparent-default-body-border),
            var(--dropdown-transparent-default-body-border-width)
          );
          &:not(:last-child) {
            margin-bottom: spacing(1);
          }
          &:hover {
            background: var(--dropdown-transparent-hover-body-background);
            color: var(--dropdown-transparent-hover-body-color);
            @include border-like-shadow(
              var(--dropdown-transparent-hover-body-border),
              var(--dropdown-transparent-hover-body-border-width)
            );
          }
          &:focus {
            background: var(--dropdown-transparent-focus-body-background);
            color: var(--dropdown-transparent-focus-body-color);
            @include border-like-shadow(
              var(--dropdown-transparent-focus-body-border),
              var(--dropdown-transparent-focus-body-border-width)
            );
          }
          &:disabled {
            pointer-events: none;
            opacity: 0.5;
            background: var(--dropdown-transparent-disabled-body-background);
            color: var(--dropdown-transparent-disabled-body-color);
            @include border-like-shadow(
              var(--dropdown-transparent-disabled-body-border),
              var(--dropdown-transparent-disabled-body-border-width)
            );
          }
          &.selected {
            background: var(--dropdown-transparent-active-body-background);
            color: var(--dropdown-transparent-active-body-color);
            @include border-like-shadow(
              var(--dropdown-transparent-active-body-border),
              var(--dropdown-transparent-active-body-border-width)
            );
          }
        }
      }
      &.outlined {
        padding: space(16, 30, 16, 20);
        background: var(--dropdown-outlined-default-body-main-background);
        border-radius: 12px;
        .dropdown-search-input {
          padding: space(2);
          margin-bottom: space(22);
        }
        &.underlined {
          padding: space(24, 20);
          .dropdown-content-body-option {
            border-bottom: var(--dropdown-outlined-default-body-border-width) solid
              var(--dropdown-outlined-hover-body-border);
            padding-bottom: space(10);
          }
        }
        .dropdown-content-body-option {
          &:not(:last-child) {
            margin-bottom: space(10);
          }
          background: var(--dropdown-outlined-default-body-background);
          color: var(--dropdown-outlined-default-body-color);
          font-size: 14px;
          line-height: 20px;
          &:hover {
            background: var(--dropdown-outlined-hover-body-background);
            color: var(--dropdown-outlined-hover-body-color);
            transform: scale(1.01);
          }
          &:focus {
            background: var(--dropdown-outlined-focus-body-background);
            color: var(--dropdown-outlined-focus-body-color);
          }
          &:disabled {
            pointer-events: none;
            opacity: 0.5;
            background: var(--dropdown-outlined-disabled-body-background);
            color: var(--dropdown-outlined-disabled-body-color);
          }
          &.selected {
            background: var(--dropdown-outlined-active-body-background);
            color: var(--dropdown-outlined-active-body-color);
          }
        }
      }
      &.relative {
        position: relative;
        height: auto;
        max-height: 0;
        padding: 0;
        overflow: hidden;
      }
    }
  }
}
.head {
  .dropdown-content-head {
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
  &.active {
    .outlined {
      &.dropdown-content-head {
        border-radius: 8px 8px 0 0;
        box-shadow: none;
      }
      &.dropdown-content-body {
        padding: space(0, 30, 16, 20);
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .dropdown-content-body {
    background: var(--dropdown-outlined-default-head-background);
    border-radius: 0 0 8px 8px;
  }
}
