@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import 'src/styles/helpers';

.dropdown {
  &-content {
    position: relative;
    &.active {
      .dropdown-content {
        &-head {
          &-arrow {
            svg {
              transform: rotate(180deg);
            }
          }
        }
        &-body {
          &.absolute {
            transform: translateY(0);
            opacity: 1;
          }
          &.relative {
            max-height: 300px;
            overflow-y: auto;
          }
        }
      }
    }
    &-head {
      cursor: pointer;
    }
    &-body {
      top: 100%;
      left: 0;
      width: 100%;
      @include transition;
      &.absolute {
        position: absolute;
        transform: translateY(-8px);
        opacity: 0;
      }
      &.relative {
        position: relative;
        height: auto;
        max-height: 0;
        overflow: hidden;
      }
    }
  }
}
