@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
@import 'src/styles/helpers';

.body {
  display: grid;
  grid-template-columns: 190px 1fr;
  margin-top: space(36) !important;
  .bodyFilters {
    padding-right: space(24);
    .dropdown {
      margin-bottom: space(8);
      .dropdownBody {
        margin-top: space(8);
        padding: 0;
      }
    }
    .currency {
      @include flex(row, center, center);
      gap: 8px;
    }
    .auction{
      margin-top: space(17);
    }
  }
  &Results {
    display: grid;
    justify-content: center;
    grid-gap: 24px;
    .card {
      max-width: 264px;
    }
  }
  .standarts {
    margin-bottom: space(24);
    .standart {
      margin-top: space(8);
    }
  }
  .price {
    @include flex(row, center, center);
    gap: 8px;
    &Inputs {
      @include flex(column, center, center);
      .priceInput {
        height: 44px;
        width: 100%;
      }
      .priceTitle {
        font-size: 12px;
        line-height: 16px;
        width: 50%;
      }
    }
    &Titles,
    &Items {
      @include flex(row, center, flex-start);
      width: 100%;
    }
  }
}
