@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
@import 'src/styles/helpers';

.input-wrapper {
  width: 100%;
  // paste here max border size of the input state
  padding: var(--input-focus-width);
  @include flex(column, flex-start, flex-start);
  &:hover:not(.input-disabled):not(.input-error):not(.input-success):not(.input-in-focus) {
    .input {
      &-label {
        color: var(--input-hover-label);
      }
      &-body {
        background: var(--input-hover-background);
        @include border-like-shadow(var(--input-hover-width), var(--input-hover-border));
        .textarea,
        .input {
          caret-color: var(--input-hover-caret);
          color: var(--input-hover-color);
        }
        .input-startAdornment,
        .input-endAdornment {
          svg {
            path {
              &[fill]:not([fill=""]) {
                fill: var(--input-hover-icon);
              }
              &[stroke]:not([stroke=""]) {
                stroke: var(--input-hover-icon);
              }
            }
          }
        }
      }
      &-caption {
        color: var(--input-hover-label);
      }
    }
  }
  &.input {
    &-in-focus {
      .input {
        &-label {
          color: var(--input-focus-label);
        }
        &-body {
          background: var(--input-focus-background);
          @include border-like-shadow(var(--input-focus-width), var(--input-focus-border));
          .textarea,
          .input {
            caret-color: var(--input-focus-caret);
            color: var(--input-focus-color);
          }
          .input-startAdornment,
          .input-endAdornment {
            svg {
              path {
                &[fill]:not([fill=""]) {
                  fill: var(--input-focus-icon);
                }
                &[stroke]:not([stroke=""]) {
                  stroke: var(--input-focus-icon);
                }
              }
            }
          }
        }
        &-caption {
          color: var(--input-focus-label);
        }
      }
    }
    &-disabled {
      opacity: 0.5;
      .input {
        &-label {
          color: var(--input-disabled-label);
        }
        &-body {
          .textarea,
          .input {
            pointer-events: none;
            caret-color: var(--input-disabled-caret);
            color: var(--input-disabled-color);
          }
          .input-startAdornment,
          .input-endAdornment {
            svg {
              path {
                &[fill]:not([fill=""]) {
                  fill: var(--input-disabled-icon);
                }
                &[stroke]:not([stroke=""]) {
                  stroke: var(--input-disabled-icon);
                }
              }
            }
          }
        }
        &-caption {
          color: var(--input-disabled-label);
        }
      }
    }
    &-success {
      .input {
        &-label {
          color: var(--input-success-label);
        }
        &-body {
          background: var(--input-success-background);
          @include border-like-shadow(var(--input-success-width), var(--input-success-border));
          .textarea,
          .input {
            caret-color: var(--input-success-caret);
            color: var(--input-success-color);
          }
          .input-startAdornment,
          .input-endAdornment {
            svg {
              path {
                &[fill]:not([fill=""]) {
                  fill: var(--input-success-icon);
                }
                &[stroke]:not([stroke=""]) {
                  stroke: var(--input-success-icon);
                }
              }
            }
          }
        }
        &-caption {
          color: var(--input-success-label);
        }
      }
    }
    &-error {
      .input {
        &-label {
          color: var(--input-error-label);
        }
        &-body {
          background: var(--input-error-background);
          @include border-like-shadow(var(--input-error-width), var(--input-error-border));
          .textarea,
          .input {
            caret-color: var(--input-error-caret);
            color: var(--input-error-color);
          }
          .input-startAdornment,
          .input-endAdornment {
            svg {
              path {
                &[stroke]:not([stroke=""]) {
                  stroke: var(--input-error-icon);
                }
                &[fill]:not([fill=""]) {
                  fill: var(--input-error-icon);
                }
              }
            }
          }
        }
        &-caption {
          color: var(--input-error-label);
        }
      }
    }
    &-sm {
      .input {
        &-body {
          padding: space(8, 4);
          font-size: 16px;
          line-height: 24px;
          .input {
            width: 80%;
            font-size: 12px;
            line-height: 16px;
            &.withoutEndAdornment{
              width: 100%;
            }
            &-startAdornment {
              margin-right: space(4);
            }
            &-endAdornment {
              margin-left: space(4);
            }
          }
          &.textarea-body {
            padding: space(10, 10, 10, 16);
          }
        }
      }
    }
    &-md {
      .input {
        &-body {
          padding: space(10, 16);
          font-size: 16px;
          line-height: 24px;
          .input {
            width: 85%;
            &.withoutEndAdornment{
              width: 100%;
            }
          }
          &.textarea-body {
            padding: space(10, 10, 10, 16);
          }
        }
      }
    }
  }
  .input {
    &-label {
      color: var(--input-default-label);
      @include flex(column, flex-start, flex-start);
      &-text {
        color: inherit;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: space(8);
      }
    }
    &-body {
      width: 100%;
      background: var(--input-default-background);
      display: inline-flex;
      align-items: center;
      @include border-like-shadow(var(--input-default-width), var(--input-default-border));
      @include border-radius('input');
      @include transition;
      .textarea,
      .input {
        appearance: none;
        border: 0px solid transparent;
        background: transparent;
        outline: none;
        height: 100%;
        color: var(--input-default-color);
        @include transition;
        &::placeholder {
          color: inherit;
        }
      }
      .input-startAdornment,
      .input-endAdornment {
        flex: 0 0 1em;
        height: 1em;
        svg {
          width: 100%;
          height: 100%;
          path {
            @include transition;
            &[stroke]:not([stroke=""]) {
              stroke: var(--input-default-icon);
            }
            &[fill]:not([fill=""]) {
              fill: var(--input-default-icon);
            }
          }
        }
      }
      .input-startAdornment {
        margin-right: space(15);
      }
      .input-endAdornment {
        margin-left: space(15);
      }
      .textarea {
        flex: 0 0 100%;
        max-width: 100%;
        resize: vertical;
        &::-webkit-resizer {
          border: none;
          content: '';
          background: url('../../assets/resizer.svg') no-repeat top left;
          width: 8px;
          height: 8px;
        }
      }
    }
    &-caption {
      display: inline-block;
      margin-top: space(8);
    }
  }
}
