{"swagger":"2.0","info":{"title":"Rarecow","description":"Rarecow marketplace","version":"v1"},"host":"rarecow.rocknblock.io","schemes":["https"],"basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"Bearer":{"type":"apiKey","name":"Authorization","in":"header"}},"security":[{"Bearer":[]}],"paths":{"/account/get_metamask_message/":{"get":{"operationId":"account_get_metamask_message_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["account"]},"parameters":[]},"/account/get_random_cover/":{"get":{"operationId":"account_get_random_cover_list","description":"get random cover","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Cover"}},"404":{"description":"error"}},"tags":["account"]},"parameters":[]},"/account/metamask_login/":{"post":{"operationId":"account_metamask_login_create","description":"","parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/MetamaskLogin"}}],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/MetamaskLogin"}}},"tags":["account"]},"parameters":[]},"/account/save_email/":{"post":{"operationId":"account_save_email_create","description":"","parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/Email"}}],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/Email"}}},"tags":["account"]},"parameters":[]},"/account/self/":{"get":{"operationId":"account_self_list","description":"get self info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}}},"tags":["account"]},"patch":{"operationId":"account_self_partial_update","description":"Update current user info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"display_name":{"type":"string"},"avatar":{"type":"object"},"bio":{"type":"string"},"custom_url":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"site":{"type":"string"},"cover":{"type":"string","format":"binary"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/UserSlim"}},"400":{"description":"attr: this attr is occupied"}},"tags":["account"]},"parameters":[]},"/account/self/collections/":{"get":{"operationId":"account_self_collections_list","description":"get collections by user","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":""}},"tags":["account"]},"parameters":[]},"/account/self/follow/":{"post":{"operationId":"account_self_follow_create","description":"follow user","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"error"}},"tags":["account"]},"parameters":[]},"/account/self/like/":{"post":{"operationId":"account_self_like_create","description":"like token","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"liked/unliked"},"404":{"description":"Token not found"}},"tags":["account"]},"parameters":[]},"/account/self/unfollow/":{"post":{"operationId":"account_self_unfollow_create","description":"unfollow user","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"OK"},"404":{"description":"User not found"}},"tags":["account"]},"parameters":[]},"/account/verification/":{"post":{"operationId":"account_verification_create","description":"like token","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["bio","email"],"type":"object","properties":{"url":{"type":"string"},"address":{"type":"string"},"role":{"type":"string"},"bio":{"type":"string"},"twitter":{"type":"string"},"media":{"type":"string"},"instagram":{"type":"string"},"website":{"type":"string"},"email":{"type":"string"}}}}],"responses":{"200":{"description":"Verification request sent"},"400":{"description":"Request already sent"}},"tags":["account"]},"parameters":[]},"/account/{user_id}/":{"get":{"operationId":"account_read","description":"get other user's info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/account/{user_id}/followers/":{"get":{"operationId":"account_followers_list","description":"post search pattern","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/UserFollow"}}},"404":{"description":"User not found"}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/account/{user_id}/following/":{"get":{"operationId":"account_following_list","description":"post search pattern","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/UserFollow"}}},"404":{"description":"User not found"}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/account/{user_id}/liked/":{"get":{"operationId":"account_liked_list","description":"get tokens liked by address","parameters":[{"name":"network","in":"query","type":"string"},{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TokenSlim"}}},"404":{"description":"user not found"}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/activity/":{"get":{"operationId":"activity_list","description":"get activity","parameters":[{"name":"network","in":"query","type":"string"},{"name":"type","in":"query","type":"string"},{"name":"page","in":"query","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[]},"/activity/notification/":{"get":{"operationId":"activity_notification_list","description":"get user notifications, return last 5","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"post":{"operationId":"activity_notification_create","description":"Mark activity as viewed. Method 'all' - marked all activity as viewed.","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"activity_id":{"type":"number"},"method":{"type":"string"}}}}],"responses":{"200":{"description":"Marked as viewed"}},"tags":["activity"]},"parameters":[]},"/activity/price_history/{id}":{"get":{"operationId":"activity_price_history_read","description":"get price history","parameters":[{"name":"period","in":"query","description":"day, week, month, year","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[{"name":"id","in":"path","required":true,"type":"string"}]},"/activity/top-collections/":{"get":{"operationId":"activity_top-collections_list","description":"get top collections","parameters":[{"name":"network","in":"query","type":"string"},{"name":"tag","in":"query","type":"string"},{"name":"sort_period","in":"query","description":"day, week, month","required":true,"type":"string"},{"name":"order_by","in":"query","description":"price, defference, floor_price, total_items, total_owners","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[]},"/activity/topusers/":{"get":{"operationId":"activity_topusers_list","description":"get top users","parameters":[{"name":"network","in":"query","type":"string"},{"name":"type","in":"query","description":"seller, buyer, follows","required":true,"type":"string"},{"name":"sort_period","in":"query","description":"day, week, month","required":true,"type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[]},"/activity/{address}/":{"get":{"operationId":"activity_read","description":"get user activity","parameters":[{"name":"network","in":"query","type":"string"},{"name":"type","in":"query","type":"string"},{"name":"page","in":"query","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/activity/{address}/following/":{"get":{"operationId":"activity_following_list","description":"get user activity","parameters":[{"name":"network","in":"query","type":"string"},{"name":"type","in":"query","type":"string"},{"name":"page","in":"query","type":"string"}],"responses":{"200":{"description":""}},"tags":["activity"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/networks/":{"get":{"operationId":"networks_list","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Network"}}}},"tags":["networks"]},"parameters":[]},"/networks/{name}":{"get":{"operationId":"networks_read","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Network"}}},"tags":["networks"]},"parameters":[{"name":"name","in":"path","required":true,"type":"string"}]},"/promotion/":{"get":{"operationId":"promotion_list","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/PromotionSettings"}}}},"tags":["promotion"]},"post":{"operationId":"promotion_create","description":"promote token","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["package","currency_id","token_id"],"type":"object","properties":{"package":{"type":"number"},"currency_id":{"type":"number"},"token_id":{"type":"number"}}}}],"responses":{"200":{"description":"Verification request sent"},"400":{"description":"Request already sent"}},"tags":["promotion"]},"parameters":[]},"/promotion/premium/":{"get":{"operationId":"promotion_premium_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["promotion"]},"parameters":[]},"/rates/":{"get":{"operationId":"rates_list","description":"rate request","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Currency"}}},"tags":["rates"]},"parameters":[]},"/store/bids/make_bid/":{"post":{"operationId":"store_bids_make_bid_create","description":"make_bid","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"token_id":{"type":"number"},"amount":{"type":"number"},"quantity":{"type":"number"},"currency":{"type":"number"}}}}],"responses":{"201":{"description":"","schema":{"type":"object","properties":{"token_id":{"type":"number"},"amount":{"type":"number"},"quantity":{"type":"number"},"currency":{"type":"number"}}}},"400":{"description":"error"},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[]},"/store/buy-reject/":{"post":{"operationId":"store_buy-reject_create","description":"Remove rejected buy token transaction","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"},"owner":{"type":"string"}}}}],"responses":{"200":{"description":"success"}},"tags":["store"]},"parameters":[]},"/store/buy/":{"post":{"operationId":"store_buy_create","description":"buy_token","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"},"tokenAmount":{"type":"number"},"sellerId":{"type":"string"}}}}],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"400":{"description":"you cant buy token"},"404":{"description":"token with given id was not found"}},"tags":["store"]},"parameters":[]},"/store/categories/":{"get":{"operationId":"store_categories_list","description":"List of categories","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Category"}}}},"tags":["store"]},"parameters":[]},"/store/collection-import/":{"post":{"operationId":"store_collection-import_create","description":"Import 721 ethereum collection from opensea","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"collection":{"type":"string"}}}}],"responses":{"200":{"description":"success"}},"tags":["store"]},"parameters":[]},"/store/collection/{param}/":{"get":{"operationId":"store_collection_read","description":"get collection info","parameters":[{"name":"network","in":"query","type":"string"},{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Collection"}},"400":{"description":"collection not found"}},"tags":["store"]},"parameters":[{"name":"param","in":"path","required":true,"type":"string"}]},"/store/create_collection/":{"post":{"operationId":"store_create_collection_create","description":"collection_creation","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["name","creator","avatar","symbol","standart"],"type":"object","properties":{"name":{"type":"string"},"standart":{"type":"string"},"avatar":{"type":"string","format":"binary"},"symbol":{"type":"string"},"description":{"type":"string"},"short_url":{"type":"string"},"site":{"type":"string"},"discord":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"medium":{"type":"string"},"telegram":{"type":"string"},"is_nsfw":{"type":"boolean"},"display_theme":{"description":"Padded, Contained, Covered","type":"string"}}}},{"name":"network","in":"query","type":"string"}],"responses":{"201":{"description":"","schema":{"required":["name","creator","avatar","symbol","standart"],"type":"object","properties":{"name":{"type":"string"},"standart":{"type":"string"},"avatar":{"type":"string","format":"binary"},"symbol":{"type":"string"},"description":{"type":"string"},"short_url":{"type":"string"},"site":{"type":"string"},"discord":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"medium":{"type":"string"},"telegram":{"type":"string"},"is_nsfw":{"type":"boolean"},"display_theme":{"description":"Padded, Contained, Covered","type":"string"}}}}},"tags":["store"]},"parameters":[]},"/store/create_token/":{"post":{"operationId":"store_create_token_create","description":"token_creation","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string"},"total_supply":{"type":"number"},"currency":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"},"minimal_bid":{"type":"number"},"creator_royalty":{"type":"number"},"mint_to":{"type":"number"},"selling_quantity":{"type":"number"},"collection":{"type":"number"},"details":{"type":"object"},"selling":{"type":"string"},"start_auction":{"type":"date-time"},"end_auction":{"type":"date-time"},"digital_key":{"type":"string"},"media":{"type":"string","format":"binary"},"cover":{"type":"string","format":"binary"},"format":{"type":"string"},"tags":{"type":"string"},"fee_address":{"type":"string"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Token"}},"404":{"description":"Collection not found"}},"tags":["store"]},"parameters":[]},"/store/drops/":{"get":{"operationId":"store_drops_list","description":"Get notable drops","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/NotableDrop"}}},"tags":["store"]},"parameters":[]},"/store/favorites/":{"get":{"operationId":"store_favorites_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/fee/":{"get":{"operationId":"store_fee_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/get_random_token/":{"get":{"operationId":"store_get_random_token_list","description":"","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenSlim"}},"404":{"description":"Tokens not found"}},"tags":["store"]},"parameters":[]},"/store/get_total_count/":{"get":{"operationId":"store_get_total_count_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/hot/":{"get":{"operationId":"store_hot_list","description":"get hot tokens","parameters":[{"name":"sort","in":"query","type":"string"},{"name":"tag","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TokenFull"}}},"404":{"description":"Token not found"}},"tags":["store"]},"parameters":[]},"/store/hot_bids/":{"get":{"operationId":"store_hot_bids_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/hot_collections/":{"get":{"operationId":"store_hot_collections_list","description":"get hot collections","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/CompositeCollection"}}}},"tags":["store"]},"parameters":[]},"/store/max_price/":{"get":{"operationId":"store_max_price_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/mint-reject/":{"post":{"operationId":"store_mint-reject_create","description":"Remove rejected token or collection","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"},"type":{"type":"string"},"owner":{"type":"string"}}}}],"responses":{"200":{"description":"success"}},"tags":["store"]},"parameters":[]},"/store/most_bidded/":{"get":{"operationId":"store_most_bidded_list","description":"Return tokens with most bid count","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"404":{"description":"tokens not found"}},"tags":["store"]},"parameters":[]},"/store/report/":{"post":{"operationId":"store_report_create","description":"report page","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"page":{"type":"string"},"message":{"type":"string"},"token":{"type":"string"}}}}],"responses":{"200":{"description":"your report sent to admin"},"400":{"description":"report not sent to admin"}},"tags":["store"]},"parameters":[]},"/store/search/":{"get":{"operationId":"store_search_list","description":"get search pattern","parameters":[{"name":"type","in":"query","description":"Search by: items, users, collections","type":"string"},{"name":"categories","in":"query","type":"string"},{"name":"tags","in":"query","type":"string"},{"name":"collections","in":"query","type":"string"},{"name":"is_verified","in":"query","type":"boolean"},{"name":"min_price","in":"query","type":"number"},{"name":"max_price","in":"query","type":"number"},{"name":"order_by","in":"query","description":"For tokens: created_at, price, likes, views, sale, transfer, auction_end, last_sale. \n For users: created, followers, tokens_created","type":"string"},{"name":"properties","in":"query","description":"JSON in string format, where value is a list. e.g. {value: [1,2]}","type":"string"},{"name":"rankings","in":"query","description":"JSON in string format. e.g. {value: {min: 1, max: 10}}","type":"string"},{"name":"on_sale","in":"query","type":"boolean"},{"name":"on_auc_sale","in":"query","type":"boolean"},{"name":"on_timed_auc_sale","in":"query","type":"boolean"},{"name":"on_any_sale","in":"query","type":"string"},{"name":"standart","in":"query","description":"ERC721 or ERC1155","type":"string"},{"name":"currency","in":"query","type":"string"},{"name":"page","in":"query","type":"number"},{"name":"network","in":"query","type":"string"},{"name":"creator","in":"query","type":"string"},{"name":"text","in":"query","type":"string"},{"name":"owner","in":"query","type":"string"},{"name":"sold_by","in":"query","type":"string"},{"name":"bids_by","in":"query","type":"string"},{"name":"liked_by","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TokenSlim"}}}},"tags":["store"]},"parameters":[]},"/store/set_cover/":{"post":{"operationId":"store_set_cover_create","description":"set cover","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"},"cover":{"type":"string","format":"binary"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"error"}},"tags":["store"]},"parameters":[]},"/store/support/":{"post":{"operationId":"store_support_create","description":"support view","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"email":{"type":"string"},"message":{"type":"string"},"token":{"type":"string"}}}}],"responses":{"200":{"description":"your report sent to admin"},"400":{"description":"report not sent to admin"}},"tags":["store"]},"parameters":[]},"/store/token/{token_id}/":{"get":{"operationId":"store_token_read","description":"get token info","parameters":[{"name":"from_promotion","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/burn/":{"post":{"operationId":"store_token_burn_create","description":"token burn","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"amount":{"type":"number"}}}}],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"404":{"description":"token does not exist"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/end_auction/":{"post":{"operationId":"store_token_end_auction_create","description":"end if auction and take the greatest bet","parameters":[],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"400":{"description":"cant sell token"},"404":{"description":"no active bids"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/get_bids/":{"get":{"operationId":"store_token_get_bids_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/related/":{"get":{"operationId":"store_token_related_list","description":"Return 4 random tokens from current token collection","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenSlim"}},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/remove_from_sale/":{"post":{"operationId":"store_token_remove_from_sale_create","description":"Remove token from sale.","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"this token doesn't belong to you"},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/set_on_auction/":{"post":{"operationId":"store_token_set_on_auction_create","description":"Set token on auction.","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["minimal_bid","currency"],"type":"object","properties":{"minimal_bid":{"type":"number"},"amount":{"description":"For 1155 token. Number of copies for sale.","type":"number"},"currency":{"type":"string"},"start_auction":{"type":"date-time"},"end_auction":{"type":"date-time"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"this token doesn't belong to you"},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/set_on_sale/":{"post":{"operationId":"store_token_set_on_sale_create","description":"Set token on sale.","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["price","currency"],"type":"object","properties":{"price":{"type":"number"},"currency":{"type":"string"},"amount":{"description":"For 1155 token. Number of copies for sale.","type":"number"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"this token doesn't belong to you"},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/transfer/":{"post":{"operationId":"store_token_transfer_create","description":"transfer_owned","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"address":{"type":"string"},"amount":{"type":"number"}}}}],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"400":{"description":"you can not transfer tokens that don't belong to you"},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/verificate_bet/":{"get":{"operationId":"store_token_verificate_bet_list","description":"verificate bet","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Bid"}},"404":{"description":"token or bid not found"}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/track_transaction/":{"post":{"operationId":"store_track_transaction_create","description":"transaction_tracker","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"tx_hash":{"type":"string"},"token":{"type":"number"},"ownership":{"type":"string"},"amount":{"type":"number"}}}}],"responses":{"201":{"description":"","schema":{"type":"object","properties":{"tx_hash":{"type":"string"},"token":{"type":"number"},"ownership":{"type":"string"},"amount":{"type":"number"}}}}},"tags":["store"]},"parameters":[]},"/store/trending_collections/":{"get":{"operationId":"store_trending_collections_list","description":"Trending collections","parameters":[{"name":"tag","in":"query","type":"string"},{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TrendingCollection"}}}},"tags":["store"]},"parameters":[]},"/store/trending_tokens/":{"get":{"operationId":"store_trending_tokens_list","description":"Trending tokens","parameters":[{"name":"category","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}}},"tags":["store"]},"parameters":[]}},"definitions":{"Cover":{"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"owner":{"title":"Owner","type":"string","readOnly":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"cover_ipfs":{"title":"Cover ipfs","type":"string","maxLength":200,"x-nullable":true}}},"MetamaskLogin":{"type":"object","properties":{"access_token":{"title":"Access token","type":"string"},"code":{"title":"Code","type":"string"},"address":{"title":"Address","type":"string"},"msg":{"title":"Msg","type":"string"},"signed_msg":{"title":"Signed msg","type":"string"}}},"Email":{"required":["address"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"address":{"title":"Address","type":"string","format":"email","maxLength":254,"minLength":1}}},"AccountTokenSlim":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"media":{"title":"Media","type":"string","readOnly":true}}},"UserFollow":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"url":{"title":"Url","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"avatar":{"title":"Avatar","type":"string","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"email":{"title":"Email address","type":"string","format":"email","maxLength":254},"created_tokens_count":{"title":"Created tokens count","type":"integer","readOnly":true},"owned_tokens_count":{"title":"Owned tokens count","type":"integer","readOnly":true},"followers_count":{"title":"Followers count","type":"integer","readOnly":true},"tokens":{"type":"array","items":{"$ref":"#/definitions/AccountTokenSlim"},"readOnly":true}}},"User":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"url":{"title":"Url","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"avatar":{"title":"Avatar","type":"string","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"email":{"title":"Email address","type":"string","format":"email","maxLength":254},"cover":{"title":"Cover","type":"string","readOnly":true},"follows":{"type":"array","items":{"$ref":"#/definitions/UserFollow"},"readOnly":true},"follows_count":{"title":"Follows count","type":"integer","readOnly":true},"followers":{"type":"array","items":{"$ref":"#/definitions/UserFollow"},"readOnly":true},"followers_count":{"title":"Followers count","type":"integer","readOnly":true}}},"UserSlim":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"url":{"title":"Url","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"avatar":{"title":"Avatar","type":"string","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"email":{"title":"Email address","type":"string","format":"email","maxLength":254}}},"Currency":{"type":"object","properties":{"rate":{"title":"Rate","type":"string","format":"decimal","x-nullable":true},"symbol":{"title":"Symbol","type":"string","maxLength":20,"x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"x-nullable":true},"image":{"title":"Image","type":"string","maxLength":500,"x-nullable":true}}},"CollectionSlim":{"required":["name","standart","symbol"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"floor_price":{"title":"Floor price","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":50,"minLength":1},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"display_theme":{"title":"Display_theme","type":"string","enum":["Padded","Contained","Covered"]},"is_default":{"title":"Is default","type":"boolean"},"is_nsfw":{"title":"Is nsfw","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standart":{"title":"Standart","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1}}},"Network":{"required":["name"],"type":"object","properties":{"ipfs_icon":{"title":"Ipfs icon","type":"string","readOnly":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1},"short_name":{"title":"Short name","type":"string","maxLength":10,"x-nullable":true},"native_symbol":{"title":"Native symbol","type":"string","maxLength":10,"x-nullable":true},"currencies":{"type":"array","items":{"$ref":"#/definitions/Currency"},"readOnly":true}}},"Ownership":{"required":["url","currency","address"],"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true,"minLength":1},"url":{"title":"Url","type":"string","minLength":1},"name":{"title":"Name","type":"string","readOnly":true},"quantity":{"title":"Quantity","type":"string","readOnly":true},"selling_quantity":{"title":"Selling quantity","type":"string","readOnly":true},"price":{"title":"Price","type":"string","format":"decimal","x-nullable":true},"currency":{"$ref":"#/definitions/Currency"},"address":{"title":"Address","type":"string","minLength":1}}},"TokenSlim":{"required":["is_selling","is_auc_selling","is_timed_auc_selling","name","total_supply","currency","collection","creator","network","has_digital_key","usd_price"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"is_selling":{"title":"Is selling","type":"boolean"},"is_auc_selling":{"title":"Is auc selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"currency":{"$ref":"#/definitions/Currency"},"internal_id":{"title":"Internal id","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"available":{"title":"Available","type":"integer","readOnly":true},"standart":{"title":"Standart","type":"string","readOnly":true},"collection":{"$ref":"#/definitions/CollectionSlim"},"creator":{"$ref":"#/definitions/UserSlim"},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"like_count":{"title":"Like count","type":"integer","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"format":{"title":"Format","type":"string","maxLength":10,"minLength":1,"x-nullable":true},"network":{"$ref":"#/definitions/Network"},"external_link":{"title":"External link","type":"string","maxLength":200,"x-nullable":true},"has_digital_key":{"title":"Has digital key","type":"boolean"},"sellers":{"description":"List of ownerships which sell token.","type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"usd_price":{"title":"Usd price","type":"number"}}},"PromotionOptions":{"required":["days","usd_price"],"type":"object","properties":{"clicks":{"title":"Clicks","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"days":{"title":"Days","type":"integer","maximum":2147483647,"minimum":0},"usd_price":{"title":"Usd price","type":"string","format":"decimal"}}},"PromotionSettings":{"required":["type","slots","network","options"],"type":"object","properties":{"type":{"title":"Type","type":"string","enum":["Featured","Premium"]},"slots":{"title":"Slots","type":"integer","maximum":2147483647,"minimum":0},"network":{"$ref":"#/definitions/Network"},"options":{"type":"array","items":{"$ref":"#/definitions/PromotionOptions"}}}},"Tag":{"required":["name"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":30,"minLength":1}}},"Category":{"required":["name","tags","image"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":30,"minLength":1},"tags":{"type":"array","items":{"$ref":"#/definitions/Tag"}},"image":{"title":"Image","type":"string","minLength":1}}},"Collection":{"required":["name","standart","symbol","creator"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"floor_price":{"title":"Floor price","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":50,"minLength":1},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"display_theme":{"title":"Display_theme","type":"string","enum":["Padded","Contained","Covered"]},"is_default":{"title":"Is default","type":"boolean"},"is_nsfw":{"title":"Is nsfw","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standart":{"title":"Standart","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1},"creator":{"$ref":"#/definitions/UserSlim"},"tokens_count":{"title":"Tokens count","type":"integer","readOnly":true},"properties":{"title":"Properties","type":"object","readOnly":true},"rankings":{"title":"Rankings","type":"object","readOnly":true},"stats":{"title":"Stats","type":"object","readOnly":true},"owners_count":{"title":"Owners count","type":"integer","readOnly":true},"volume_traded":{"title":"Volume traded","type":"string","readOnly":true}}},"Bid":{"required":["user"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"quantity":{"title":"Quantity","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"amount":{"title":"Amount","type":"string","format":"decimal","x-nullable":true},"currency":{"title":"Currency","type":"string","readOnly":true},"state":{"title":"State","type":"string","enum":["Pending","Failed","Committed","Burned","Expired"]},"user":{"$ref":"#/definitions/UserSlim"}}},"Token":{"required":["is_selling","is_auc_selling","is_timed_auc_selling","name","total_supply","currency","collection","creator","network","has_digital_key","usd_price","owners","tags","highest_bid"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"is_selling":{"title":"Is selling","type":"boolean"},"is_auc_selling":{"title":"Is auc selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"currency":{"$ref":"#/definitions/Currency"},"internal_id":{"title":"Internal id","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"available":{"title":"Available","type":"integer","readOnly":true},"standart":{"title":"Standart","type":"string","readOnly":true},"collection":{"$ref":"#/definitions/CollectionSlim"},"creator":{"$ref":"#/definitions/UserSlim"},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"like_count":{"title":"Like count","type":"integer","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"format":{"title":"Format","type":"string","maxLength":10,"minLength":1,"x-nullable":true},"network":{"$ref":"#/definitions/Network"},"external_link":{"title":"External link","type":"string","maxLength":200,"x-nullable":true},"has_digital_key":{"title":"Has digital key","type":"boolean"},"sellers":{"description":"List of ownerships which sell token.","type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"usd_price":{"title":"Usd price","type":"number"},"owners":{"type":"array","items":{"$ref":"#/definitions/Ownership"}},"digital_key":{"title":"Digital key","type":"string","readOnly":true},"bids":{"type":"array","items":{"$ref":"#/definitions/Bid"},"readOnly":true},"tags":{"type":"array","items":{"$ref":"#/definitions/Tag"}},"highest_bid":{"$ref":"#/definitions/Bid"}}},"NotableDrop":{"type":"object","properties":{"image":{"title":"Image","type":"string","readOnly":true,"minLength":1},"description":{"title":"Description","type":"string","readOnly":true,"minLength":1},"collection_url":{"title":"Collection url","type":"string","readOnly":true,"minLength":1},"name":{"title":"Name","type":"string","readOnly":true,"minLength":1},"background_color":{"title":"Background color","description":"Hex color code","type":"string","readOnly":true,"minLength":1}}},"TokenFull":{"required":["is_selling","is_auc_selling","is_timed_auc_selling","name","total_supply","currency","collection","creator","network","has_digital_key","usd_price","owners","tags","highest_bid","stats","rankings"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"is_selling":{"title":"Is selling","type":"boolean"},"is_auc_selling":{"title":"Is auc selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"currency":{"$ref":"#/definitions/Currency"},"internal_id":{"title":"Internal id","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"available":{"title":"Available","type":"integer","readOnly":true},"standart":{"title":"Standart","type":"string","readOnly":true},"collection":{"$ref":"#/definitions/CollectionSlim"},"creator":{"$ref":"#/definitions/UserSlim"},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"like_count":{"title":"Like count","type":"integer","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"format":{"title":"Format","type":"string","maxLength":10,"minLength":1,"x-nullable":true},"network":{"$ref":"#/definitions/Network"},"external_link":{"title":"External link","type":"string","maxLength":200,"x-nullable":true},"has_digital_key":{"title":"Has digital key","type":"boolean"},"sellers":{"description":"List of ownerships which sell token.","type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"usd_price":{"title":"Usd price","type":"number"},"owners":{"type":"array","items":{"$ref":"#/definitions/Ownership"}},"digital_key":{"title":"Digital key","type":"string","readOnly":true},"bids":{"type":"array","items":{"$ref":"#/definitions/Bid"},"readOnly":true},"tags":{"type":"array","items":{"$ref":"#/definitions/Tag"}},"highest_bid":{"$ref":"#/definitions/Bid"},"history":{"title":"History","type":"string","readOnly":true},"views_count":{"title":"Views count","type":"string","readOnly":true},"properties":{"title":"Properties","type":"string","readOnly":true},"stats":{"title":"Stats","type":"object","additionalProperties":{"type":"string","x-nullable":true}},"rankings":{"title":"Rankings","type":"object","additionalProperties":{"type":"string","x-nullable":true}},"promotion_info":{"title":"Promotion info","type":"string","readOnly":true}}},"CompositeCollection":{"required":["name","standart","symbol","creator"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"floor_price":{"title":"Floor price","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":50,"minLength":1},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"display_theme":{"title":"Display_theme","type":"string","enum":["Padded","Contained","Covered"]},"is_default":{"title":"Is default","type":"boolean"},"is_nsfw":{"title":"Is nsfw","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standart":{"title":"Standart","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1},"creator":{"$ref":"#/definitions/UserSlim"},"tokens":{"type":"array","items":{"type":"string"},"readOnly":true},"likes_count":{"title":"Likes count","type":"integer","readOnly":true}}},"TrendingCollection":{"required":["name","standart","symbol","creator","views"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"floor_price":{"title":"Floor price","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":50,"minLength":1},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"display_theme":{"title":"Display_theme","type":"string","enum":["Padded","Contained","Covered"]},"is_default":{"title":"Is default","type":"boolean"},"is_nsfw":{"title":"Is nsfw","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standart":{"title":"Standart","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1},"creator":{"$ref":"#/definitions/UserSlim"},"views":{"title":"Views","type":"integer"}}}}}