@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'src/styles/helpers';

.banner {
  @include container;
  margin-top: space(120) !important;
  &Body {
    @include flex(row, flex-start, space-between);
    &Left {
      max-width: 420px;
    }
  }
  .logo{
    width: 100%;
    margin-top: -150px;
  }
  .bannerBtns {
    margin-top: space(42);
    @include flex(row, flex-start, flex-start);
    gap: 18px;
    .btn {
      min-width: 130px;
      font-weight: 400;
    }
  }
  .title {
    &Top {
      @include flex;
      gap: 16px;
    }
  }
  .subtitle {
    margin-top: space(35);
    max-width: 420px;
  }
}
@include default-screen {
  .bannerBody {
    flex-direction: column;
    align-items: center;
    .logo{
    margin-top: -50px;
    margin-right: 0;
    }
    .bannerBtns {
      flex-direction: column;
      .btn {
        min-width: 220px;
      }
    }
  }
}
