@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'src/styles/helpers';

.nftOwners {
  width: 100%;
  min-height: 250px;
  .tabs {
    padding: 0;
    border-bottom: var(--nftpage-owners-border);
  }
  .tab {
    width: fit-content;
  }
  .tab + .tab {
    margin-left: space(16);
  }
  .owners {
    max-height: 300px;
    overflow-y: auto;
    .owner {
      margin-top: space(16);
      @include flex(row, center, space-between, wrap);
      .left {
        @include flex(row, center, flex-start);
        max-width: 74%;
      }
      &Info {
        @include flex(column, flex-start, flex-start);
        margin-left: space(13);
        @include ellipsis;
        &Text{
          @include ellipsis;
        }
      }
      .right{
        @include flex(row, center, flex-end);
        .buy{
          margin-left: space(8);
        }
      }
    }
  }
  .history,
  .properties{
    margin-top: space(16);
    max-height: 300px;
    overflow-y: auto;
  }
  .historyItem {
    margin-top: space(16);
    @include flex(row, center, flex-start);
    &Info {
      @include flex(column, flex-start, flex-start);
      margin-left: space(13);
    }
  }
}

.sellingFee {
  margin: space(4, 0);
}
