@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import 'src/styles/helpers';

.selector {
  position: relative;
  background-color: $metal-200;
  border-radius: 21px;
  width: 100%;
  @include flex(row, center, center);
}

.left,
.right {
  width: 50%;
  @include flex(row, center, center);
  margin: 8px auto !important;
  cursor: pointer;
}

.option {
  z-index: 1;
  transition: all 0.4s ease-in-out;

  color: $metal-700;

  &Active {
    z-index: 1;
    transition: all 0.4s ease-in-out;
    color: $metal-50 !important;
  }
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $accent;
  border-radius: 21px;
  width: 50%;
  transition: all 0.4s ease-in-out;
  height: 100%;
  z-index: 0;
  transform: translateX(100%);

  &Active {
    left: 0;
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
  }
}