.wrapper {
    position: relative;
    overflow: hidden;
}

.skeleton {
    position: absolute;
    border-radius: 50%;
}

.fallback-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: baseline;
}

// .skeleton::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     transform: translateX(-100%);

//     background: linear-gradient(
//         89.74deg,
//         rgba(255, 255, 255, 0) 0.21%,
//         rgba(56, 56, 56, 0.06) 14.73%,
//         rgba(56, 56, 56, 0.12) 40.65%,
//         rgba(56, 56, 56, 0.12) 54.65%,
//         rgba(56, 56, 56, 0.06) 80.57%,
//         rgba(255, 255, 255, 0) 99.76%
//     );
//     animation: move 2s infinite;
// }

// @keyframes move {
//     100% {
//         transform: translateX(100%);
//     }
// }
