@use 'sass:list';

@import 'mixins';
@import 'variables';

$spacing-step: 8;

$spacing: (0, 4, 8, 16, 24, 32, 40, 48, 56, 64, 80, 100);

@function scale-size($unit) {
  @return $unit * $main-unit + ' ';
}

@function map($array, $func) {
  $result: '';
  @for $i from 0 through length($array) - 1 {
    $result: $result + call(get-function($func), list.nth($array, $i + 1));
  }
  @return unquote($result);
}

@function get-normalize-spacing($size) {
  @if ($size < list.nth($spacing, 1)) {
    @return list.nth($spacing, 1) + 'px ';
  }
  @if ($size > list.nth($spacing, -1)) {
    @return list.nth($spacing, -1) + 'px ';
  }
  $div: $size % $spacing-step;
  @if ($div == 0 or $size % 4 == 0) {
    @return $size + 'px ';
  }
  @if ($div >= 4) {
    $near-index: list.index($spacing, $size - $div + $spacing-step);
    @return list.nth($spacing, $near-index) + 'px ';
  } @else {
    $near-index: list.index($spacing, $size - $div);
    @return list.nth($spacing, $near-index) + 'px ';
  }
}

// usable functions

@function space($spaces...) {
  @return map($spaces, get-normalize-spacing);
}

@function spacing($spaces...) {
  @return map($spaces, scale-size);
}

@mixin shadow-0() {
  box-shadow: $shadow-0;
}

@mixin border-radius($type: 'large-card') {
  @if $type == 'large-card' {
    border-radius: $main-unit * 2;
  }
  @if $type == 'card' {
    border-radius: $main-unit * 2.5;
  }
  @if type == 'input' {
    border-radius: $main-unit;
  }
  @if type == 'small-card' {
    border-radius: $main-unit * 1.5;
  }
  border-radius: $main-unit;
}

@mixin border-like-shadow($width: 1px, $color: $metal-300, $extra: false) {
  border: 0px solid transparent;
  @if $extra {
    box-shadow: 0px 0px 0px $width $color, $extra;
  } @else {
    box-shadow: 0px 0px 0px $width $color;
  }
}

@mixin transition(
  $duration: 350ms,
  $function: ease-in-out,
  $delay: 0ms,
  $property: all,
  $next: false
) {
  @if ($next) {
    transition: $property $duration $function $delay, $next;
  } @else {
    transition: $property $duration $function $delay;
  }
}
