@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import 'src/styles/helpers';

.nftList { 
  display: grid;
  justify-content: center;
  grid-gap: 24px;
  height: fit-content;
  width: 100%;
  .skeleton{
    margin: 0 auto;
  }
}