@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.h1 {
  font-size: 64px;
  line-height: 64px;
}

.h2 {
  font-size: 32px;
  line-height: 40px;
}

.h3 {
  font-size: 20px;
  line-height: 24px;
}

.display-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 86px;
}

.heading-1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.heading-2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
}

.subtitle-1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.body-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.body-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.medium-body{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.text {
  &.xs {
    font-size: 14px;
    line-height: 20px;
  }

  &.s {
    font-size: 14px;
    line-height: 24px;
  }

  &.m {
    font-size: 24px;
    line-height: 68px;
  }

  &.l {
    font-size: 18px;
    line-height: 30px;
  }
}

.inherit-color{
  color: inherit;
}

.default {
  color: var(--typography-default-color);
}

.secondary {
  color: var(--typography-secondary-color);
}

.error {
  color: var(--typography-error-color);
}

.gray6 {
  color: var(--typography-gray-6-color);
}

.dark {
  color: var(--typography-dark-color);
}

.dark0 {
  color: var(--typography-dark-0-color);
}

.dark1 {
  color: var(--typography-dark-1-color);
}

.accent {
  color: var(--typography-accent-color);
}

.light1 {
  color: var(--typography-light-1-color);
}

.light3 {
  color: var(--typography-light-3-color);
}

.light4{
  color: var(--typography-light-4-color);
}

.iris100{
  color: var(--typography-iris-100-color);
}

.metal50{
  color: var(--typography-metal-50-color);
}

.metal400{
  color: var(--typography-metal-400-color);
}

.metal600{
  color: var(--typography-metal-600-color);
}

.metal700{
  color: var(--typography-metal-700-color);
}

.metal800{
  color: var(--typography-metal-800-color);
}

.base900{
  color: var(--typography-base-900-color);
}

.yellow500{
  color: var(--typography-yellow-500-color);
}

.normalWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.semiBoldWeight {
  font-weight: 600;
}

.boldWeight {
  font-weight: 700;
}
