@import '/src/styles/helpers';

.create {
  &Header {
    &MintingFee {
        border-radius: space(8);
        padding: space(12, 16);
        background: var(--createForm-minting-fee-background);
        display: inline-block;
        margin: space(27, 0) !important;
    }
  }
}
