@import '/src/styles/helpers';

.create {
  @include container;
  padding-top: space(61);
  &Header {
    &MintingFee {
      border-radius: space(8);
      padding: space(12, 16);
      background: var(--createForm-minting-fee-background);
      display: inline-block;
      margin: space(27, 0) !important;
    }
  }
  .form{
    position: relative;
    .overlay{
      position: absolute;
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      z-index: 1;
      background: var(--createForm-minting-fee-background-overlay);
      backdrop-filter: blur(16px) saturate(180%);
      @include flex(row, center, center);
    }
  }
}

.disabled{
  pointer-events: none;
}

@include middle-tablet{
  .create{
    padding-top: space(4);
    @include flex(column, center, flex-start);
    &Header{
      @include flex(column, center, flex-start);
    }
  }
}