@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'src/styles/helpers';

.nftWrapper {
  @include container;
  margin-top: space(24) !important;
  @include flex(row, flex-start, flex-start);
  .nftImage {
    max-width: 456px;
    width: 100%;

    img {
      width: 100%;
      border-radius: 16px;
    }
  }
  .nftBlock {
    @include flex(column, flex-start, flex-start);
    max-width: 592px;
    width: 100%;
  }
  .nftImage + .nftBlock {
    margin-left: space(145);
  }
}
@include large-tablet {
  .nftWrapper {
    .nftBlock{
      max-width: 356px;
    }
    .nftImage + .nftBlock {
      margin-left: space(32);
    }
  }
}
@include middle-tablet {
  .nftWrapper {
    flex-direction: column;
    justify-content: center;
    .nftImage {
      margin: 0 auto;
      margin-top: space(24);
      margin-bottom: space(16);
    }
  }
}
