@import '/src/styles/helpers';

.image {
  width: 100%;
  height: 100%;
  &Container {
    width: 100%;
    height: 100%;
    border-radius: spacing(2);
    overflow: hidden;
  }
}

.audio {
  margin-top: space(20);
  &Container {
    @include flex(column, center, flex-start);
  }
}

.video {
  margin-top: space(20);
  &Container {
    @include flex(column, center, flex-start);
  }
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.switcher{
  @include flex(row, center, flex-start);
  margin-bottom: space(4) !important;
  .switchText{
    margin-left: space(12);
  }
}