@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import 'src/styles/helpers';

.checkboxButton {
  @include flex(row, center, center);
  width: 100%;
  padding: 10px 0;
  background: var(--checkboxButton-default-background-color);
  border: var(--checkboxButton-border-width) solid var(--checkboxButton-default-border-color);
  border-radius: var(--checkboxButton-border-radius);
  cursor: pointer;
  &:hover {
    border-color: var(--checkboxButton-hover-border-color);
  }
  &:disabled{
    filter: grayscale(1);
  }
  &.active {
    background: var(--checkboxButton-active-background-color);
    background: var(--checkboxButton-active-border-color);

    outline: none;
    -webkit-touch-callout: none; /* iOS Safari */
    &:focus-visible,
    &:focus,
    &:active,
    &:focus-within,
    &:target,
    &:hover,
    &:visited {
      outline: none;
      -webkit-touch-callout: none; /* iOS Safari */
    }
  }
  &:focus-visible,
  &:focus,
  &:active,
  &:focus-within,
  &:target,
  &:hover,
  &:visited {
    outline: none;
    -webkit-touch-callout: none; /* iOS Safari */
  }
}
