@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'src/styles/helpers';

.nftInfo {
  width: 100%;
  &Top {
    @include flex(row, center, space-between);
  }
  .nftInfoDescription {
    position: relative;
    margin-top: space(22);
    @include flex(row, flex-start, flex-start);
    .dots{
      height: fit-content;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}
