@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'src/styles/helpers';

.nftInfo {
  width: 100%;
  &Top {
    @include flex(row, flex-start, space-between);
    &Name{
      flex: 0 0 40%;
      &Title{
        @include ellipsis;
      }
    }
    .actionButtons{
      margin-left: auto;
      @include flex(row, center, flex-end, wrap);
      .actionItem{
        margin-bottom: space(4);
        &:not(:last-child){
          margin-right: space(4); 
        }
        .promote{
          background: $red;
          padding: 8px 14px;
        }
      }
    }
  }
  .nftInfoDescription {
    position: relative;
    margin-top: space(22);
    @include flex(row, flex-start, flex-start);
    .dots{
      height: fit-content;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}

@include large-tablet{
  .nftInfo{
    &Top{
      &Name{
        flex: 0 0 auto;
      }
      .actionButtons{
        flex: 0 0 40%;
        @include flex(row-reverse, center, flex-start);
        .actionItem{
          margin-bottom: space(4);
        }
      }
    }
  }
}

@include middle-tablet{
  .nftInfo{
    &Top{
      .actionButtons{
        flex: 0 0 40%;
        @include flex(row-reverse, center, flex-start, wrap-reverse);
        .actionItem{
          margin-bottom: space(4);
        }
      }
    }
  }
}
