@import '/src/styles/helpers';

.create {
  @include container;
  padding-top: space(61);
  &Header {
    &MintingFee {
      border-radius: space(8);
      padding: space(12, 16);
      background: var(--createForm-minting-fee-background);
      display: inline-block;
      margin: space(27, 0, 61) !important;
    }
  }
}

@include middle-tablet{
  .create{
    padding-top: space(24);
    &Header{
      @include flex(column, center, flex-start);
      &MintingFee{
        margin: space(8, 0, 16) !important;
      }
    }
  }
}