@import 'src/styles/helpers.scss';

.icon {
  margin-top: 36px;
  margin-bottom: 24px;
  @include flex(row, center, center);
}

.subtitle {
  margin-bottom: 50px;
}

.button {
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 24px;
}

.clipboard {
  margin: 0 auto;
  border: 1px solid $dark;
  margin-top: 20px;
}
