$bicon-utton-border-width: 1px;

$iconButtonColorsDefault: (
  ////outlined
  //background
  "icon-button-outlined-default-background": none,
  "icon-button-outlined-hover-background": none,
  "icon-button-outlined-active-background": none,
  //border
  "icon-button-outlined-default-border": none,
  "icon-button-outlined-hover-border": none,
  "icon-button-outlined-active-border": none,
  //icon
  "icon-button-outlined-default-icon-color": #C9C9C9,
  "icon-button-outlined-hover-icon-color": #958BF6,
  "icon-button-outlined-active-icon-color": #958BF6,
  "icon-button-outlined-disabled-icon-color": #64656A,
  ////outlined-secondary
  //background
  "icon-button-outlined-secondary-default-background": none,
  "icon-button-outlined-secondary-hover-background": #1E2023,
  "icon-button-outlined-secondary-active-background": #1E2023,
  "icon-button-outlined-secondary-disabled-background": none,
  //border
  "icon-button-outlined-secondary-default-border": none,
  "icon-button-outlined-secondary-hover-border": none,
  "icon-button-outlined-secondary-active-border": none,
  //icon
  "icon-button-outlined-secondary-default-icon-color": #C9C9C9,
  "icon-button-outlined-secondary-hover-icon-color": #958BF6,
  "icon-button-outlined-secondary-active-icon-color": #958BF6,
  "icon-button-outlined-secondary-disabled-icon-color": #64656A,
  ////filled
  //background
  "icon-button-filled-default-background": #17181C,
  "icon-button-filled-hover-background": #17181C,
  "icon-button-filled-active-background": #17181C,
  "icon-button-filled-disabled-background": #17181C,
  //border
  "icon-button-filled-default-border": #25272E,
  "icon-button-filled-hover-border": #958BF6,
  "icon-button-filled-active-border": #958BF6,
  "icon-button-filled-disabled-border": #17181C,
  //icon
  "icon-button-filled-default-icon-color": #958BF6,
  "icon-button-filled-hover-icon-color": #958BF6,
  "icon-button-filled-active-icon-color": #958BF6,
  "icon-button-filled-disabled-icon-color": #64656A,
);

$iconButtonColorsLight: (
  ////outlined
  //background
  "icon-button-outlined-default-background": none,
  "icon-button-outlined-hover-background": none,
  "icon-button-outlined-active-background": none,
  //border
  "icon-button-outlined-default-border": none,
  "icon-button-outlined-hover-border": none,
  "icon-button-outlined-active-border": none,
  //icon
  "icon-button-outlined-default-icon-color": #7A8499,
  "icon-button-outlined-hover-icon-color": #958BF6,
  "icon-button-outlined-active-icon-color": #958BF6,
  "icon-button-outlined-disabled-icon-color": #64656A,
  ////outlined-secondary
  //background
  "icon-button-outlined-secondary-default-background": none,
  "icon-button-outlined-secondary-hover-background": #DFE3EC,
  "icon-button-outlined-secondary-active-background": #DFE3EC,
  //border
  "icon-button-outlined-secondary-default-border": none,
  "icon-button-outlined-secondary-hover-border": none,
  "icon-button-outlined-secondary-active-border": none,
  //icon
  "icon-button-outlined-secondary-default-icon-color": #7A8499,
  "icon-button-outlined-secondary-hover-icon-color": #958BF6,
  "icon-button-outlined-secondary-active-icon-color": #958BF6,
  "icon-button-outlined-secondary-disabled-icon-color": #64656A,
  ////filled
  //background
  "icon-button-filled-default-background": #FFFFFF,
  "icon-button-filled-hover-background": #FFFFFF,
  "icon-button-filled-active-background": #FFFFFF,
  //border
  "icon-button-filled-default-border": #DFE3EC,
  "icon-button-filled-hover-border": #8A7FF6,
  "icon-button-filled-active-border": #8A7FF6,
  //icon
  "icon-button-filled-default-icon-color": #6F778B,
  "icon-button-filled-hover-icon-color": #8A7FF6,
  "icon-button-filled-active-icon-color": #8A7FF6,
  "icon-button-filled-disabled-icon-color": #64656A,
);
