@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';
@import 'src/styles/helpers';

.body {
  @include flex(column, center, center);

  .filters {
    background-color: var(--filters-button-background-color);
  }
  &Top {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    .filters {
      margin-top: space(38);
      margin-left: 190px;
    }
    .collections {
      display: none;
    }
  }
  &Content {
    display: grid;
    grid-template-columns: 190px 1fr;
    margin-top: space(36) !important;
    width: 100%;
    .filters {
      margin-top: space(24);
      margin-bottom: space(24);
      align-self: flex-start;
    }
  }
  .bodyFilters {
    padding-right: space(24);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: fit-content;
    .dropdown {
      margin-bottom: space(8);
      .dropdownBody {
        margin-top: space(8);
        padding: 0;
      }
    }
    .currency {
      @include flex(row, center, center);
      gap: 8px;
    }
    .auction {
      margin-top: space(17);
    }
    &Head {
      @include flex(row, center, space-between);
      .cross {
        display: none;
      }
    }
    &Buttons {
      margin-top: space(24);
      @include flex(column, flex-start, flex-start);
      gap: 8px;
      .btn {
        width: 100%;
        font-weight: 400;
      }
    }
  }
  &Results {
    display: grid;
    justify-content: center;
    grid-gap: 24px;
    height: fit-content;
    .card {
      max-width: 264px;
    }
  }
  .standarts {
    margin-bottom: space(24);
    .standart {
      margin-top: space(8);
    }
  }
  .price {
    @include flex(row, center, center);
    gap: 8px;
    &Inputs {
      @include flex(column, center, center);
      .priceInput {
        height: 44px;
        width: 100%;
      }
      .priceTitle {
        font-size: 12px;
        line-height: 16px;
        width: 50%;
      }
    }
    &Titles,
    &Items {
      @include flex(row, center, flex-start);
      width: 100%;
    }
  }
  .total {
    @include flex(row, center, flex-start);
    margin-top: space(16);
    width: 100%;
    margin-left: 190px;
    &Text {
      font-size: 20px;
      line-height: 32px;
      margin-right: space(24);
    }
  }
  .chips {
    width: 100%;
  }
}
@include large-tablet {
  .body {
    &Top {
      .filters {
        margin-left: 142px;
      }
    }
    .total {
      margin-left: 142px;
    }
    .bodyContent {
      grid-template-columns: 142px 1fr;
    }
  }
}
@include middle-tablet {
  .body {
    .card {
      margin: 0 auto;
    }
  }
}
@include large-mobile {
  .body {
    .bodyTop {
      margin-top: space(24);
      position: relative;
      .filters {
        display: flex;
        margin-right: space(16);
      }
    }
    .bodyFilters {
    }
    &Content {
      @include flex(column, center, center);
    }
    .bodyFilters {
      position: fixed;
      padding: 0;
      opacity: 0;
      top: 100%;
      transform: scale(1);
      &.active {
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        width: 100%;
        background-color: var(--filters-default-background-color);
        padding: 16px 24px 24px;
        z-index: 100;
        .cross {
          display: block;
          cursor: pointer;
        }
      }
    }
    .total {
      flex-direction: column;
      align-items: flex-start;
      &Text {
        margin-right: 0;
        margin-bottom: space(8);
      }
    }
  }
}
