@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';
@import 'src/styles/helpers';

.wrapper {
  position: relative;
  width: 100%;
  @include container;
  padding-top: space(116);
}

.title {
  @include flex(row, center, center);
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.notableDrops {
  margin-top: 88px;
}

.drops {
  display: flex;
  justify-content: center;
  margin: 40px auto 0 !important;
  max-width: 1240px;
  position: relative;
}

.noItems {
  pad: 0 16px;
}

.drop {
  max-width: 350px;
  width: 100%;

  &Double {
    & + & {
      margin-left: 24px !important;
    }
  }
}

.swiper {
  width: 100%;
  max-width: 1128px;
}

@include middle-mobile {
  .notableDrops {
    .title {
      font-size: 24px;
    }
  }
}
.bullets{
  display: none;
}
.swiper-pagination-bullet{
  width: 40px;
  height: 6px;
  border-radius: 20px;
  background-color: var(--swiper-bullet-background);
  opacity: 1;
  &.active{
    background-color: var(--swiper-bullet-background-active);
  }
}
.swiper-button-prev {
  left: -64px;
  background: url('../../../../assets/img/icons/arrowLeft.svg');
}
.swiper-button-next {
  right: -64px;
  background: url('../../../../assets/img/icons/arrowRight.svg');
}
.swiper-button-prev,
.swiper-button-next {
  width: 58px;
  height: 58px;
  background-size: 8px 12px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center center;
  background-color: var(--swiper-default-background);
  transform: translate(0, -50%);
  white-space: nowrap;
  &::after {
    content: '';
  }

  @include middle-screen {
    transform: none;
    top: 100%;
    bottom: 0;
  }
}
@include middle-screen {
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .bullets{
    position: absolute;
    bottom: -25px !important;
    @include flex(row, center, center);
    z-index: 10;
  }
}
@include large-mobile {
  .wrapper{
    .notableDrops{
      margin-top: 0;
    }
  }
}