@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';
@import 'src/styles/helpers';

.header {
  @include container;
  max-width: 1440px;
  &Container {
    padding: space(24, 0, 32, 0);
    @include flex(row, center, space-between);
  }
  &Left,
  &Right {
    @include flex(row, center, flex-start);
  }
  &Right {
    gap: 20px;
  }
  .logo {
    margin: spacing(0, 5, 0, 0);
    max-width: 500px;
  }
  .headerInput {
    height: 44px;
    width: 250px;
  }
  .headerDropdown {
    height: 44px;
    width: 160px;
  }
  .connect{
    background-color: $metal-50;
    position: relative;
    width: 44px;
    &Icon{
      position: absolute;
      top: 100%;
      right: 22px;
      transform: translate(5px, 10px);
    }
  }
}
.user {
  @include flex(row, center, flex-start);
  position: relative;
  .arrowBtn {
    margin-right: space(16);
  }
}
.arrow {
  transform: rotate(0);
  @include transition;
  &.arrowUp {
    transform: rotate(180deg);
    @include transition;
  }
  &Btn {
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
  }
}
.address {
  background: var(--dropdown-outlined-default-head-background);
  padding: space(10, 16);
  color: var(--dropdown-outlined-default-head-color);
  height: 44px;
  @include flex(row, center, center);
  @include border-radius('input');
  @include border-like-shadow(
    var(--dropdown-outlined-default-head-border-width),
    var(--dropdown-outlined-default-head-border)
  );
}
@include large-tablet {
  .arrowBtn {
    margin-right: space(0) !important;
  }
  .address,
  .headerDropdown {
    display: none;
  }
}
@include large-mobile {
  .headerInput {
    width: 100% !important;
  }
  .headerLeft {
    flex-direction: row-reverse;
    .logo {
      margin: 0;
      position: absolute;
      left: calc(50% - 105px / 2);
      @include transition;
      &.closed {
        max-width: 0px;
        overflow: hidden;
        opacity: 0;
        transform: scale(0);
        @include transition;
      }
    }
  }
}
