@import 'src/styles/helpers.scss';

.container{
  margin: 0 auto;
  max-width: 332px;
}

.icon {
  margin-top: 36px;
  margin-bottom: 24px;
  @include flex(row, center, center);
}

.title {
  font-size: 20px;
  line-height: 34px;
}

.subtitle {
  margin-bottom: 20px;
}

.error{
  color: $accent;
}

.button {
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 24px;
}

.clipboard {
  margin: 0 auto;
  border: 1px solid $dark;
  margin-top: 20px;
}

.text{
  line-height: 20px;
}
