@import '/src/styles/helpers';

.wrapper {
  .body {
    &Info {
      @include flex(row, flex-start, center);
      &Element {
        flex: 0 0 50%;
        &:nth-child(2n + 1) {
          padding: space(0, 4, 4, 0);
        }
        &:nth-child(n + 1) {
          padding: space(0, 0, 4, 4);
        }
        .placeBid {
          padding-top: space(10);
          padding-bottom: space(10);
          button {
            width: 100%;
          }
        }
      }
    }
  }
}

.bidIcon {
  stroke: currentColor;
}